
/ {
	aliases {
		led0 = &green_led_1;
        led1 = &red_led_1;
	};
};

&clk_hse {
	status = "disabled";
};

&clk_hsi {
	status = "okay";
};

&pll {
	status = "disabled";
};

&rcc {
	clocks = <&clk_hsi>;
	clock-frequency = <64000000>;
};

&leds {
    green_led_1: led_1 {
        gpios = <&gpioc 7 GPIO_ACTIVE_LOW>;
        label = "User LD1";
    };

	yellow_led_1: led_2 {
		status = "disabled";
	};

    red_led_1: led_3 {
        gpios = <&gpioc 8 GPIO_ACTIVE_LOW>;
        label = "User LD2";
    };
};

&mac {
	status = "okay";
	pinctrl-0 = <&eth_rxd0_pc4
		     &eth_rxd1_pc5
		     &eth_ref_clk_pa1
		     &eth_crs_dv_pa7
		     &eth_tx_en_pa5
		     &eth_txd0_pb12
		     &eth_txd1_pb15>;
	pinctrl-names = "default";
	phy-connection-type = "rmii";
	phy-handle = <&eth_phy>;
};
